In [89]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\kunal\anaconda3\lib\site-packages (2.2.2)
Collecting pandas
  Downloading pandas-3.0.0-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kunal\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kunal\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\kunal\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kunal\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-3.0.0-cp312-cp312-win_amd64.whl (9.7 MB)
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.7 MB 495.5 kB/s eta 0:00:20
    --------------------------------------- 0.1/9.7 MB 901.1 kB/s eta 0:00:11
   - -------------------------------------- 0.3/9.7 MB 1.6 MB/s eta 0:00:06
   --- ------------------------------------ 0.8/9.7 MB 3.7 MB/s eta 0:00:03
   ------- -------------------------------- 1.7/9.7 MB 6.9 MB/s eta 0:00:02
   ----------- ---------------------------- 2.9/9.7 MB 9.3 MB/s eta 0:00:01
   ------------------ --------------------- 4.4/9.7 MB 12.2 MB/s eta 0:00:01
   ------------------------ --------------- 6.1/9.7 MB 15.5 MB/s eta 0:00:01
   ------------------------------ --------- 7.3/9.7 MB 17.3 MB/s eta 0:00:01
   ------------------------------ --------- 7.3/9.7 MB 17.3 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.7 MB 17.3 MB/s eta 0:00:01
   ---------------------------------------  9.7/9.7 MB 17.8 MB/s eta 0:00:01
   ---------------------------------------- 9.7/9.7 MB 16.4 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
Successfully installed pandas-3.0.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
streamlit 1.32.0 requires pandas<3,>=1.3.0, but you have pandas 3.0.0 which is incompatible.

In [90]:
import datetime as dt
import pandas as pd
import numpy as np
import yfinance as yf

from scipy import stats
from pandas_datareader import data as pdr

In [91]:
stocklist = ['^NSEBANK', 'HDFCBANK.NS', 'ICICIBANK.NS', 'AXISBANK.NS','SBIN.NS']
stocklist

['^NSEBANK', 'HDFCBANK.NS', 'ICICIBANK.NS', 'AXISBANK.NS', 'SBIN.NS']

In [95]:
df = yf.download(stocklist, start='2015-01-01', end='2025-12-31')
df

[*********************100%***********************]  5 of 5 completed

Price             Close                                                     \
Ticker      AXISBANK.NS HDFCBANK.NS ICICIBANK.NS     SBIN.NS      ^NSEBANK
Date
2015-01-01   486.962830  217.235367   294.023865  279.880524           NaN
2015-01-02   497.853088  220.258682   302.369720  280.994751  19057.580078
2015-01-05   500.999176  218.399048   302.995575  278.766388  19017.179688
2015-01-06   483.090790  214.999237   290.143005  267.312653  18430.535156
2015-01-07   482.703583  215.626709   282.297943  267.535522  18304.037109
...                 ...         ...          ...         ...           ...
2025-12-24  1226.300049  997.200012  1359.800049  968.950012  59183.601562
2025-12-25  1226.300049  997.200012  1359.800049  968.950012           NaN
2025-12-26  1228.199951  992.099976  1350.400024  966.299988  59011.351562
2025-12-29  1232.000000  991.700012  1343.300049  965.049988  58932.351562
2025-12-30  1246.000000  990.900024  1342.500000  973.450012  59171.250000

Price              High                                                     \
Ticker      AXISBANK.NS HDFCBANK.NS ICICIBANK.NS     SBIN.NS      ^NSEBANK
Date
2015-01-01   487.882461  217.771590   294.983623  280.771863           NaN
2015-01-02   500.369978  221.171388   303.371224  283.713325  19118.628199
2015-01-05   503.758071  221.456603   306.626026  282.376302  19165.777572
2015-01-06   497.127092  218.262157   300.366673  277.295664  18874.379592
2015-01-07   489.189334  217.075624   288.974621  269.674732  18481.835823
...                 ...         ...          ...         ...           ...
2025-12-24  1235.400024  999.400024  1368.199951  977.299988  59478.148438
2025-12-25  1226.300049  997.200012  1359.800049  968.950012           NaN
2025-12-26  1229.900024  997.200012  1362.000000  971.000000  59180.648438
2025-12-29  1233.900024  997.400024  1355.699951  968.900024  59140.398438
2025-12-30  1252.099976  995.000000  1347.099976  976.200012  59272.699219

Price       ...         Open                                       \
Ticker      ...  AXISBANK.NS HDFCBANK.NS ICICIBANK.NS     SBIN.NS
Date        ...
2015-01-01  ...   486.575627  216.995784   294.357680  278.498959
2015-01-02  ...   487.108081  216.858862   293.773497  280.192551
2015-01-05  ...   500.369998  221.331109   304.873403  281.886076
2015-01-06  ...   497.127092  217.680310   299.949369  276.315185
2015-01-07  ...   482.848780  214.417377   288.432139  267.401827
...         ...          ...         ...          ...         ...
2025-12-24  ...  1230.000000  993.000000  1363.800049  973.200012
2025-12-25  ...  1226.300049  997.200012  1359.800049  968.950012
2025-12-26  ...  1225.000000  996.000000  1356.500000  968.950012
2025-12-29  ...  1228.199951  993.099976  1352.099976  966.900024
2025-12-30  ...  1233.000000  990.200012  1343.300049  963.000000

Price                         Volume                                     \
Ticker          ^NSEBANK AXISBANK.NS HDFCBANK.NS ICICIBANK.NS   SBIN.NS
Date
2015-01-01           NaN     1351985     3544940      2583280   6138488
2015-01-02  18751.982055     3852825     5900384      8272990   9935094
2015-01-05  19154.976916     2561430     4796000     10316090   9136716
2015-01-06  18874.379592     5284530     8219680     13282427  15329257
2015-01-07  18382.336980     4245189     5746112     21254332  15046745
...                  ...         ...         ...          ...       ...
2025-12-24  59322.949219     3155506    13699996      8955140   4105643
2025-12-25           NaN           0           0            0         0
2025-12-26  59092.851562     1665983     9360853      2812144   3286321
2025-12-29  59007.050781     2209655    13545749      6057201   5267233
2025-12-30  58885.949219     5673233    33155849     18621277  15030644

Price
Ticker      ^NSEBANK
Date
2015-01-01       NaN
2015-01-02       0.0
2015-01-05       0.0
2015-01-06       0.0
2015-01-07       0.0
...              ...
2025-12-24   82500.0
2025-12-25       NaN
2025-12-26   72900.0
2025-12-29  106900.0
2025-12-30  295700.0

[2717 rows x 25 columns]

In [97]:
df.Close

Ticker      AXISBANK.NS  HDFCBANK.NS  ICICIBANK.NS     SBIN.NS      ^NSEBANK
Date
2015-01-01   486.962830   217.235367    294.023865  279.880524           NaN
2015-01-02   497.853088   220.258682    302.369720  280.994751  19057.580078
2015-01-05   500.999176   218.399048    302.995575  278.766388  19017.179688
2015-01-06   483.090790   214.999237    290.143005  267.312653  18430.535156
2015-01-07   482.703583   215.626709    282.297943  267.535522  18304.037109
...                 ...          ...           ...         ...           ...
2025-12-24  1226.300049   997.200012   1359.800049  968.950012  59183.601562
2025-12-25  1226.300049   997.200012   1359.800049  968.950012           NaN
2025-12-26  1228.199951   992.099976   1350.400024  966.299988  59011.351562
2025-12-29  1232.000000   991.700012   1343.300049  965.049988  58932.351562
2025-12-30  1246.000000   990.900024   1342.500000  973.450012  59171.250000

[2717 rows x 5 columns]

# Log Returns

In [100]:
log_returns = np.log(df.Close / df.Close.shift(1)).dropna()
log_returns.head()

Ticker      AXISBANK.NS  HDFCBANK.NS  ICICIBANK.NS   SBIN.NS  ^NSEBANK
Date
2015-01-05     0.006299    -0.008479      0.002068 -0.007962 -0.002122
2015-01-06    -0.036400    -0.015689     -0.043344 -0.041955 -0.031334
2015-01-07    -0.000802     0.002914     -0.027411  0.000833 -0.006887
2015-01-08     0.006596     0.020788      0.026836  0.015537  0.021465
2015-01-09    -0.014044     0.011131     -0.016249 -0.005427 -0.003436

# Beta Calculation

In [129]:
def calc_beta(df):
    market = df.iloc[:, -1]
    stocks = df.iloc[:, :-1]

    betas = {}

    for col in stocks.columns:
        cov = np.cov(stocks[col], market)
        betas[col] = cov[0, 1] / cov[1, 1]

    return pd.Series(betas, name="Beta")

calc_beta(log_returns)

AXISBANK.NS     1.184933
HDFCBANK.NS     0.822666
ICICIBANK.NS    1.136753
SBIN.NS         1.088034
Name: Beta, dtype: float64